{% raw %}
<div class="panel panel-default" ng-repeat="post in postCtrl.posts">
    <div class="panel-body">
        <div style="height: 7px;">
            <div class="pull-left">
                {{ post.title }}
            </div>
            <div class="pull-right">
                <i class="fa fa-map"></i>
            </div>
        </div>
        <hr>

        <div class="row img-container">
            <span ng-repeat="image in post.images">
                <a href="{{ image }}.jpg" data-lightbox="{{ post.id }}">
                    <img src="{{ image }}-thumb.jpg">
                </a>
            </span>
        </div>

        <pre ng-bind-html="post.content" style="direction: rtl; unicode-bidi: embed; margin-top: 10px; font-family: 'BNazanin', 'Open Sans'; font-size: 15px; border: none !important; background: none !important"></pre>
    </div>
</div>
{% endraw %}