<div class="panel panel-default" ng-repeat="post in postCtrl.posts">
    <div class="panel-body">
        <div style="height: 7px;">
            <div class="pull-left">
                Game Night
            </div>
            <div class="pull-right">
                <i class="fa fa-map"></i>
            </div>
        </div>
        <hr>

        <div class="row img-container">
            <a href="https://pbs.twimg.com/profile_images/562739925838098432/yIJyCdCY.jpeg" data-lightbox="one">
                <img src="https://pbs.twimg.com/profile_images/562739925838098432/yIJyCdCY.jpeg">
            </a>
            <a href="https://pbs.twimg.com/profile_images/562739925838098432/yIJyCdCY.jpeg" data-lightbox="one">
                <img src="https://pbs.twimg.com/profile_images/562739925838098432/yIJyCdCY.jpeg">
            </a>
            <a href="https://pbs.twimg.com/profile_images/562739925838098432/yIJyCdCY.jpeg" data-lightbox="one">
                <img src="https://pbs.twimg.com/profile_images/562739925838098432/yIJyCdCY.jpeg">
            </a>
            <a href="https://pbs.twimg.com/profile_images/562739925838098432/yIJyCdCY.jpeg" data-lightbox="one">
                <img src="https://pbs.twimg.com/profile_images/562739925838098432/yIJyCdCY.jpeg">
            </a>
        </div>

        <div style="direction: rtl; margin-top: 10px;">
            سلام دوستان،

            خسته نشدین از یه هفته درس و کار و تلاش؟ خسته شدین؟ خب، وقتشه که یه چند ساعتی درس و کار رو بیخیال بشیم و دور هم بشینیم بازی کنیم. از پوکر و انواع بازیا با ورق گرفته تا مونوپولی و ستلرز. میز بیلیارد هم هست که استعدادتون تو این زمینه رو نشون بدید. هر بازی دیگه ‌ای هم که دوست دارید بیارید با خودتون (مثلا کسی تخته داره؟‌ تخته بیارید یه کم از اساتید فن بازی یاد بگیرید). جمعه (۹ اکتبر) از ساعت ۶ عصر منتظرتون هستیم. تا ساعت ۸.۵ هم قراره بازی کنیم. کجا؟ تو اتاق بازی جیم دانشگاه(GRE 3.120). دیر نکنید، منتظریم!

            یه نکته مهم: دوستانی که دانشجو UT نیستن (یا به عبارت دقیقتر مجوز ورود به جیم دانشگاه رو ندارن) لطفا تا ساعت ۴ عصر روز پنج‌شنبه (۸ اکتبر) به ما خبر بدن که میخوان تو این برنامه شرکت کنن. در اون صورت ما هماهنگ می کنیم که بدون پرداخت هزینه‌ای بتونن تو برنامه شرکت کنن، وگرنه این دوستان باید برای ورود به جیم مجوز یک روزه خریداری کنن.

            یه نکته نه چندان مهم: ما می‌خواستیم یه مقادیری بیسکویت و شیرینی تدارک ببینیم که در کنار بازی بخوریم، ولی متوجه شدیم بین خوردن چیزی در اتاق بازی یا داشتن میز بیلیارد باید یکی رو انتخاب کنیم. ما داشتن میز بیلیارد رو انتخاب کردیم، واسه همین تو این برنامه فقط با لبخندامون ازتون پذیرایی می‌کنیم، تا برنامه‌های بعدی که خوردنی هم داشته باشیم واسه پذیرایی. :)

            پس قرارمون جمعه ساعت ۶ عصر. لطفا هر چی بازی باحال دارید بیارید با خودتون، ضرر نداره. منتظر دیدن خنده‌هاتون هستیم.

            ارادتمند،
            برد PSS

        </div>
    </div>
</div>