{% extends 'layout.html' %}

{% block headStyles %}
    {% parent %}
    <link rel="stylesheet" href="../assets/css/owl.carousel.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/lightbox.css">
    <link rel="stylesheet" href="../assets/css/dropzone.min.css">
    <link href="../assets/css/remodal.css" rel="stylesheet">
    <link href="../assets/css/remodal-default-theme.css" rel="stylesheet">
    <link href="../assets/css/jquery.datetimepicker.css" rel="stylesheet">
{% endblock %}

{% block headScripts %}
    {% parent %}
    <script type="text/javascript" src="../assets/js/utils/carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../assets/js/utils/dropzone/dropzone.min.js"></script>
    <script type="text/javascript" src="../assets/js/utils/modal/remodal.min.js"></script>
    <script type="text/javascript" src="../assets/js/utils/datetime/moment-with-locales.js"></script>
    <script type="text/javascript" src="../assets/js/utils/datetime/jquery.datetimepicker.full.min.js"></script>
{% endblock %}

{% block bodyTop %}
    <div id="owl-example" class="owl-carousel">
        <div class="item item1">
        </div>
        <div class="item item2">
        </div>
        <div class="item item3">
        </div>
    </div>
{% endblock %}

{% block bodyLeft %}

{% raw %}
<div class="panel panel-default" style="display: none;">
    <div class="panel-body">
        <div class="row" style="padding: 0 16px;">
            <div class="pull-left">
                New Event
            </div>
            <div class="pull-right">
            </div>
        </div>

        <hr>
        <form name="newPostForm" ng-controller="NewPostController as newPostCtrl"
              ng-submit="newPostForm.$valid && newPostCtrl.createNewPost()" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <input type="text" class="form-control" id="title" placeholder="Event title"
                           ng-model="newPostCtrl.newPost.title" required>
                </div>

                <div class="col-xs-12 col-sm-5">
                    <input type="text" class="form-control" id="time" placeholder="Event time"
                           ng-model="newPostCtrl.newPost.time">
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12">
                   <textarea class="form-control more" rows="4" id="content" style="resize: vertical;"
                             placeholder="What's up?" ng-model="newPostCtrl.newPost.content" required></textarea>
                </div>
            </div>

            <div class="row" style="padding: 10px 16px;">
                <div class="pull-left" style="margin-top: 10px;">
                        <button id="map-modal-btn-admin" class="btn btn-sm btn-default">
                            <i class="fa fa-map-marker"></i>
                        </button>
                        <button class="btn btn-sm btn-default" id="notify-email-option-btn">
                            <input type="checkbox" ng-model="newPostCtrl.newPost.shouldNotify"/> Notify via Email
                        </button>
                </div>
                <div class="pull-right" style="margin-top: 10px;">
                    <input type="submit" class="btn btn-sm btn-primary" value="Create">
                </div>
            </div>

            <div>newPostForm is {{ newPostForm.$valid }} </div>
        </form>

        <form action="/file-upload" class="dropzone" style="margin-top: 15px;">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </div>
</div>
{% endraw %}



<div ng-controller="PostController as postCtrl">
    {% set title = { title: "true" } %}
    {% include 'widgets/postviewmode.html' with title %}
</div>

{% endblock %}

{% block bodyRight %}
<div class="panel panel-default">
    <div class="panel-body" style="direction: rtl; line-height: 140%;">
        وبسایت دانشجویان ایرانی دانشگاه تگزاس یک صفحه‌ی فرهنگی و اجتماعی است که فارغ از هر نوع دیدگاه سیاسی، دینی، نژادی برای تسهیل ارتباط میان دانشجویان دانشگاه تگزاس ایجاد شده است. بدیهی است هر پست و بازنشری می‌بایست در راستای اهداف این پیج بوده و تسهیل کننده‌ی امور دانشجویان باشد. تا بتوان محیطی دوستانه‌تر برای نزدیک کردن دوستان و خانواده‌هایشان ایجاد نمود. ممنون از یاریتان.​
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body" style="font-size: 13px;">
        This page provides a forum to the Iranian students at The University of Texas at Austin in order to facilitate exchange of information about cultural and social events. It does not endorse any political, religious, or racial outlooks. All postings must be in line with this statement and aim at facilitating students’ academic affairs. We strive to create a friendly environment for everyone in order to encourage a sense of friendship among all subscribers and their family members. Thank you for helping us achieve this goal.
    </div>
</div>

{% endblock %}


{% block endScripts %}
    {% parent %}
    {% include 'widgets/mapmodal.html' %}
    <script type="text/javascript" src="../assets/js/utils/lightbox/lightbox.min.js"></script>
    <script src="../assets/js/landing/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&callback=initialize"></script>
    <script async defer src="http://www.geoplugin.net/javascript.gp" type="text/javascript" language="JavaScript"></script>
    <script type="text/javascript">
        $("#owl-example").owlCarousel({
            singleItem: true,
            autoPlay: 4500
        });

        $('#notify-email-option-btn').on('click', function(e) {
            if (this !== e.target) {
                return;
            }
            var emailCheckBox = $(this).find('input');
            emailCheckBox.prop("checked", !emailCheckBox.prop("checked"));
        });

        $('#map-modal-btn-admin').on('click', function(e) {
            e.preventDefault();
            console.log("IN HRE");
            var inst = $.remodal.lookup[$('[data-remodal-id=map]').data('remodal')];
            inst.open();
        });

        $('#time').datetimepicker({
            format:'m/d/Y, h:m A'
        });
    </script>
{% endblock %}