<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Persian Student Society</title>
    {% block headStyles %}
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    {% endblock %}
    {% block headScripts %}
    <script type="text/javascript" src="../assets/js/utils/jQuery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../assets/js/utils/bootstrap/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>

<div class="page-wrap">
    <div class="container">
        <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Persian Student Society</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
        </nav>

        {% block bodyTop %} {% endblock %}

        <hr>

        <div class="row">
            <div class="col-lg-8 col-xs-12">
                {% block bodyLeft %} {% endblock %}
            </div>

            <div class="col-lg-4 side-bar">
                {% block bodyRight %} {% endblock %}
            </div>
        </div>
        <!--<section class="block">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="http://nimadini.net/resources/images/m_2.jpg" alt="Slide1" />
                    </div>
                    <div class="item">
                        <img src="http://nimadini.net/resources/images/m_2.jpg" alt="Slide2" />
                    </div>
                    <div class="item">
                        <img src="http://nimadini.net/resources/images/m_2.jpg" alt="Slide3" />
                    </div>
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>

            </div>
        </section>-->
    </div>
</div>

<footer class="site-footer" id="footer">
    <div class="text-center" style="padding-top: 20px;" >Persian Student Society
        <div style="font-size: 12px; margin-top: 10px;">
            &copy; 2015 Nima Dini
        </div>
    </div>
</footer>
</body>

{% block endScripts %}
{% endblock %}
</html>