<!DOCTYPE html>
<html ng-app="pss">
<head lang="en">
    <meta charset="UTF-8">
    <title>Persian Student Society</title>
    {% block headStyles %}
    <link rel="image_src" href="../images/cover/cov1.jpg" /><!--formatted-->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/fonts.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Inconsolata|Droid+Sans">
    <link href="../assets/css/style.css" rel="stylesheet">
    {% endblock %}
    {% block headScripts %}
    <script type="text/javascript" src="../assets/js/utils/jQuery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../assets/js/utils/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/utils/bootstrap/affix.js"></script>
    <script src="../assets/js/utils/angular/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <script src="../assets/js/landing/app.js"></script>
    {% endblock %}
</head>

<body >
<div class="page-wrap">
    <div class="container">
        <nav class="navbar navbar-default" style="font-family: Tahoma, Geneva, sans-serif;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <ul class="navbar-header nav navbar-nav">
                <li>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </li>
                
                    <li class="active"><a class="navbar-brand active" href="/home"><i class="fa fa-home"></i> Home</a></li>
                    <li><a class="navbar-brand" href="/about"><i class="fa fa-users"></i> About</a></li>
                    <li><a class="navbar-brand" href="/supporters"><i class="fa fa-bank"></i> Sponsors</a></li>
                </ul>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li style="padding-top: 12px; margin-left: 10px;">
                        <img class="img-rounded" width="28" height="28" src="http://nimadini.net/resources/images/me.jpg"/>
                    </li>-->
                    <!--<li><a href="#">About</a></li>
                    <li><a href="#">Join</a></li>-->
                    <li class="dropdown">
                        <a href="https://www.facebook.com/groups/utpss/" target="_blank" class="dropdown-toggle" role="button">
                            <img src="http://www.seeklogo.net/wp-content/uploads/2013/11/facebook-flat-vector-logo-400x400.png"
                                 width="20" height="20"/>
                        </a>
                        <!--<ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-facebook-official"></i> Sign in with Facebook</a></li>
                        </ul>-->
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        {% block bodyTop %} {% endblock %}

        <hr>

        <div class="row" style="position: relative;">
            <div class="col-md-8 col-xs-12">
                {% block bodyLeft %} {% endblock %}
            </div>

            <div class="col-md-4 col-xs-12 side-bar">
                <div id="side-bar">
                    {% block bodyRight %} {% endblock %}
                </div>
            </div>
        </div>
        <!--<section class="block">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="http://nimadini.net/resources/images/m_2.jpg" alt="Slide1" />
                    </div>
                    <div class="item">
                        <img src="http://nimadini.net/resources/images/m_2.jpg" alt="Slide2" />
                    </div>
                    <div class="item">
                        <img src="http://nimadini.net/resources/images/m_2.jpg" alt="Slide3" />
                    </div>
                </div>
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>

            </div>
        </section>-->
    </div>
</div>

<footer class="site-footer" id="footer">
    <div class="text-center" style="padding-top: 20px;" >Persian Student Society
        <div style="font-size: 12px; margin-top: 10px; font-family: 'Open Sans';">
            &copy; 2015 Nima Dini
        </div>
    </div>
</footer>
</body>

{% block endScripts %}
    <script type="text/javascript">
        $('#side-bar').affix({
            offset: {
                top: 440
            }
        });
    </script>
{% endblock %}
</html>