html {
    height: 100%;
}

body {
    margin-top: 10px;
    background-color: #F0F0F0;
    font: 15px 'BNazanin', 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    height: 100%;
}

a {
    color: #00B7FF;
}

.panel {
    border: none;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -85px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 85px;
}

.site-footer {
    color: #4D4D4D;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}

.carousel .item img {
    width: 100%; /*img width*/
}

/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}

#owl-example {
    padding: 0 1px;
}

#owl-example .item {
    height: 300px;
    width: 100%;
}

#owl-example .item1 {
    background: url(../../images/cover/cov1.jpg) no-repeat 50%;
    background-size: cover;
}

#owl-example .item2 {
    background: url(../../images/cover/cov2.jpg) no-repeat 50%;
    background-size: cover;
}

#owl-example .item3 {
    background: url(../../images/cover/cov3.jpg) no-repeat 50%;
    background-size: cover;
}

.img-container {
    padding: 0 15px;
}

.img-container img {
    width: 24.5%;
    margin-bottom: 5px;
}

.img-rounded {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#pac-input {
    float: right;
    margin-top: 10px;
    width: 64%;
}

#pac-input:focus {
    width: 64%;
}

.pac-container {
    z-index: 10000 !important;
}

.ng-invalid.ng-dirty:required {
    border-color: #FA787E;
}

.ng-valid.ng-dirty:required {
    border-color: mediumseagreen;
}

.affix {
    top: 20px !important;
    position: fixed !important;
    width: 360px !important;
}

@media (max-width: 1200px) {
    .affix {
        width: 293px !important;
    }
}

@media (max-width: 992px) {
    .side-bar {
        display: none;
    }
}

/*full width container*/
@media (max-width: 768px) {
    #pac-input {
        width: 50%;
    }

    #time {
        margin-top: 10px;
    }

    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

pre {
    font-family: 'BNazanin', arial, sans-serif !important;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}